<style type="text/css">
body {
 font-family: sans serif;
 background-color: rgb(253, 228, 239);}
h1 {
color: rgb(244, 175, 180);}
h2 {
color: rgb(185, 219, 164)
}
h3 {
color: rgb(164, 219, 211)
}
</style>